table {
  margin-bottom: var(--s);
  border-collapse:collapse;
  border-spacing:0;
}

table tr td,
table tr th {
  padding: var(--s025) var(--s);
  border-bottom: 2px solid var(--color-gray-medium);
}

table tr td {
  border-left: 2px solid var(--color-gray-medium);
}

table tr td:last-child {
  border-right: 2px solid var(--color-gray-medium);
}

table.skill-list {
  width: 100%;
}

table.skill-list tr td:not(:first-child) {
  text-align: center;
}

table td p,
table th p {
  margin: 0;
}